/********/
/* BASE */
/********/
    
    /* Base/Normalized Styles For Elements */
    

/**********/
/* LAYOUT */
/**********/

    /* Site Header */
    #header {}
    #header-content {}
    #header-title {}
    #header-links {}
    #header-links-toggle {}

    /* Hero */
    #hero {}
    #hero-color {}
    #hero-content {}

    /* Front */
    #front {}
    #front-content {}

    /* Back */
    #back {}
    #back-content {}

    /* Site Footer */
    #site-footer {}
    #site-footer-content {}

    /* Footer */
    #footer {}
    #footer-content {}


/***********/
/* MODULES */
/***********/

    /* Grid */
    .grp {}
    .grp > .col {}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {}
    .grp-two > .col-two {}
    .grp-three {}
    .grp-three > .col-one {}
    .grp-three > .col-two {}
    .grp-three > .col-three {}
    .grp-four {}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

    /* Navigation */
    .navigation {}
    .navigation.fixed {}
    .navigation > li > a {}
    .navigation > li > a.active {}

    /* Hero */
    .hero {}
    .hero-color {}
    .hero-content {}
    
    /* Menu */
    .menu {}
    .menu-header {}
    .menu-content {}
    .menu-items {}
    .menu-items > li {}

    /* News */
    .news {}
    .news-header {}
    .news-content {}
    .news-items {}
    .news-items > li {}
    .news-item-date {}
    .news-item-link {}

    /* Events */
    .events {}
    .events-header {}
    .events-content {}
    .events-items {}
    .events-items > li {}
    .event-date {}
    .event-date-month {}
    .event-date-day {}
    .event-date-year {}
    .event-title {}
    
    /* Breadcrumbs */
    .breadcrumbs {}
    .breadcrumbs > ul {}
    .breadcrumbs > ul > li {}

    /* Info Bar */
    .info-bar {}
    .info-bar > li {}

    /* Block */
    .block {}
    .block-image {}
    .block-content {}

    /* Card */
    .card {}
    .card-image {}
    .card-content {}

    /* Link List */
    .link-list {}
    .link-list > li {}
    .link-list > li > a {}
    .link-list > li > a:hover {}

    /* Link Chain */
    .link-chain {}
    .link-chain > li {}
    .link-chain > li > a {}
    .link-chain > li > a:hover {}
    
    /* Search */
    .search {}
    .search-label {}
    .search-input {}
    .search-button {}

    /* Button */
    .button {}
    .button:hover {}


/*************/
/* MODIFIERS */
/*************/
    
    /* Image Placement */
    .is-image-left {float:left; margin-right:1em;}
    .is-image-right {float:right; margin-left:1em;}
    
    /* Visibility */
    .is-hidden {display:none !important;}
    .is-visible {display:block !important;}
    .is-collapsed {max-height:0; transition: all ease 0.5s;}
    .is-expanded {max-height:1000px; transition: all ease 0.5s;}
    .is-transparent {
        opacity:0;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-opaque {
        opacity:1;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-last {margin:0;}
    

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:42.5em) {

    /**********/
    /* LAYOUT */
    /**********/
    
    
    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp {}
    .grp > .col {}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {}
    .grp-two > .col-two {}
    .grp-three {}
    .grp-three > .col-one {}
    .grp-three > .col-two {}
    .grp-three > .col-three {}
    .grp-four {}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}

}

@media screen and (min-width:62.5em) {
  
    /**********/
    /* LAYOUT */
    /**********/


    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp {}
    .grp > .col {}
    .grp-one {}
    .grp-one > .col-one {}
    .grp-two {}
    .grp-two > .col-one {}
    .grp-two > .col-two {}
    .grp-three {}
    .grp-three > .col-one {}
    .grp-three > .col-two {}
    .grp-three > .col-three {}
    .grp-four {}
    .grp-four > .col-one {}
    .grp-four > .col-two {}
    .grp-four > .col-three {}
    .grp-four > .col-four {}  

}

/* ZEN FRAMEWORK v2.0.0 */